.wrapper-edit-topic {
  padding-left: 20px;
  padding-right: 20px;
}

.edit-topic {
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid transparentize(black, 0.92);
  box-shadow: transparentize(black, 0.95) 0 4px 4px 0;
  border-radius: 10px;
}

.card-container {
}
